/* Page */

/* Sidebar */
main button.sidebar-toggle {
  border-top: 1px solid rgba(0,0,0,.07);
  border-radius: 0;
}

body.close main button.sidebar-toggle {
  border-top: none;
}

/* Content */

/* Markdown */

/* Plugins */
/* FIX: hide navbar when zoom-image open */
.medium-zoom-overlay {
  z-index: 2;
}
img.medium-zoom-image--open {
  z-index: 2;
}